#!/bin/bash

export ORACLE_BASE={{ oracle_base }}
export SCRIPTS_DIR={{ scripts_dir }}

export ADMIN_DIR=${ORACLE_BASE}/admin
export RDBMS_LOG_DIR=${ORACLE_BASE}/diag/rdbms
export LSNR_LOG_DIR=${ORACLE_BASE}/diag/tnslsnr

# nombre de jours à conserver pour les fichiers aud, trc et xml
export DAYS=3

# Fichier log pour la date du jour
LOG_DIR="${SCRIPTS_DIR}/logs"
mkdir -p $LOG_DIR
LOG_FILE="$LOG_DIR/clean_$(date +%Y%m%d).log"


# purge des fichiers oracle trc, xml et aud
echo "$(date +"%Y/%m/%d %H:%M:%S") : Clean xml file older than $DAYS days from ${RDBMS_LOG_DIR}" | tee -a $LOG_FILE
find ${RDBMS_LOG_DIR} -iname "*.xml" -mtime +$DAYS -print -delete | tee -a $LOG_FILE

echo "$(date +"%Y/%m/%d %H:%M:%S") : Clean xml file older than $DAYS days from ${LSNR_LOG_DIR}" | tee -a $LOG_FILE
find ${LSNR_LOG_DIR} -iname "*.xml" -mtime +$DAYS -print -delete | tee -a $LOG_FILE

echo "$(date +"%Y/%m/%d %H:%M:%S") : Clean trc file older than $DAYS days from ${RDBMS_LOG_DIR}" | tee -a $LOG_FILE
find ${RDBMS_LOG_DIR} -iname "*.trc" -mtime +$DAYS -print -delete | tee -a $LOG_FILE

echo "$(date +"%Y/%m/%d %H:%M:%S") : Clean trm file older than $DAYS days from ${RDBMS_LOG_DIR}" | tee -a $LOG_FILE
find ${RDBMS_LOG_DIR} -iname "*.trm" -mtime +$DAYS -print -delete | tee -a $LOG_FILE

echo "$(date +"%Y/%m/%d %H:%M:%S") : Clean audit file older than +$DAYS days from ${ADMIN_DIR}" | tee -a $LOG_FILE
find ${ADMIN_DIR} -iname "*.aud" -mtime +$DAYS -print -delete | tee -a $LOG_FILE

echo "$(date +"%Y/%m/%d %H:%M:%S") : Cleaning completed." | tee -a $LOG_FILE

# Purger les fichiers de log plus anciens que 15 jours
find $LOG_DIR -name "clean_*.log" -mtime +15 -exec rm {} \;
