---
  # --------------------------------------------------- 
  # configuration Linux : Sécurisation
  # ---------------------------------------------------
  - name: Ajout du soft reboot
    ansible.builtin.lineinfile: dest=/etc/rc.local state=present line='/sbin/ctrlaltdel soft'
    tags: softreboot
  
  - name: Sécurisation du vidage mémoire
    ansible.builtin.copy: src="00-vidage.conf" dest="/etc/security/limits.d/00-vidage.conf"
  
  - name: Application des paramètres de configuration sécurisée
    ansible.builtin.sysctl: 
      name={{ item.name }} 
      value={{ item.value }} 
      state=present 
      reload=yes 
      ignoreerrors=yes 
      ignoreerrors=yes 
      sysctl_set=yes 
      sysctl_file=/etc/sysctl.d/97-secure-configuration.conf 
    when: secure_configuration
    loop: "{{ linux_secure_config }}"
    tags: secure_config
  
