---
# 
# installation des binaires ORACLE et patch
#


# installation des binaires Oracle DB
  - include_tasks: install_database.yml

# telechargement des fihiers : opatch + PSU-RU
#  - include_tasks: download_software.yml

# Application du patch
#  - include_tasks: opatch_apply.yml

